@import './mixins';
@import './variables';


//**** GENERAL ****

body {
    margin: 0;
    color: $body-font-color;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    background-color: $primary-color;
}

// .block-background {
//     position: relative;
//     background-image: url(../images/teahuppo-montain2.jpg);
//     background-repeat: no-repeat;
//     background-size: 100%;
//     background-position: 60% 40%;
//     width: 100%;
//     height: 40%;
// }

// .block-fondu {
//     position: relative;
//     width: 100%;
//     height: 60%;
//     box-shadow: 0 -30px 20px 60px $primary-color;
// }

a {
    color: $body-font-color;
    text-decoration: none;
}

main {
    @include flexCenter;
    flex-direction: column;
    background-color: #ffffff00;
}

h1 {
    margin: 0;
    font-family: 'Garamond', sans-serif;
    font-size: 85px;
    font-weight: 400;
    .span-title {
        display: block;
    }
}

h2 {
    margin: 0;
    font-family: 'Garamond', sans-serif;
    font-size: 45px;
    font-weight: 400;
}

h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: $secondary-color;
    .click {
        cursor: pointer;
    }
}


//**** HEADER ****

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    background-color: #ffffff00;
    &__logo {
        font-size: 24px;
        font-weight: 500;
    }
    &__link {
        display: flex;
        gap: 35px;
    }
}


//**** INTRO SECTION ****

.intro {
    @include flexColumn;
    align-items: flex-start;
    margin-top: 200px;
}

.epigraph {
    @include flexRow;
    align-items: center;
    gap: 15px;
    color: $secondary-color;
    font-weight: 500;
    &__border {
        border-top: 2px solid $secondary-color;
        width: 70px;
    }
    &__icon {
        margin-left: 15px;
    }
}


//**** All CHAPTER SECTION ****

.all__chapters {
    margin: 450px 400px 0 400px;
}

.chapter {
    display: flex;
    &__content {
        @include flexColumn
    }
    &__number {
        position: relative;
        z-index: 2;
        right: 55px;
        bottom: 35px;
        font-size: 165px;
        font-weight: 600;
        color: #354147;
    }
    &__text {
        position: relative;
        z-index: 3;
        bottom: 200px;
        padding: 20px 40px;
    }
    img {
        width: 350px;
        height: 500px;
        border-radius: 5px;
    }
}






