@import './mixins';
@import './variables';


//**** GENERAL ****

body {
    color: $body-font-color;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    background-color: $primary-color;
}

a {
    color: $body-font-color;
    text-decoration: none;
}

main {
    @include flexCenter;
}

h1 {
    margin: 0;
    font-family: 'Garamond', sans-serif;
    font-size: 85px;
    font-weight: 400;
    .span-title {
        display: block;
    }
}


//**** HEADER ****

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    &__logo {
        font-size: 24px;
        font-weight: 500;
    }
    &__link {
        display: flex;
        gap: 35px;
    }
}


//**** INTRO SECTION ****

.intro {
    @include flexColumn;
    align-items: flex-start;
    margin-top: 200px;
}

.chapter {
    @include flexRow;
    align-items: center;
    gap: 15px;
    color: $secondary-color;
    font-weight: 600;
    &__border {
        border-top: 2px solid $secondary-color;
        width: 70px;
    }
    &__icon {
        margin-left: 15px;
    }
}


