.modale {
  visibility: hidden;
  position: fixed;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100vh;
  margin-left: -50vw;
  transition: visibility 0.4s;
}
.modale__background {
  opacity: 0;
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
  transition: opacity 0.4s 0.2s ease-out;
}
.modale__section {
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 6;
  width: 680px;
  height: 500px;
  border-radius: 10px;
  transition: opacity 0.4s ease-out;
}
.modale__section--background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.28);
  border-radius: 10px;
}
.modale__section #closing-cross {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.modale__section #closing-cross:hover {
  color: #FBD784;
}
.modale__section .arrow {
  position: absolute;
  z-index: 1;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.modale__section .arrow:hover {
  color: #FBD784;
}
.modale__section .arrow-right {
  right: 15px;
}
.modale__section .arrow-left {
  left: 15px;
}
.modale__section .injection-content {
  display: contents;
}
.modale__section p {
  position: absolute;
  z-index: 0;
  padding: 0 60px 0 60px;
  font-size: 1.25rem;
  text-align: center;
}
.modale__section img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.modale__section form {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 60%;
}
.modale__section form input {
  height: 30px;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 1.25rem;
  outline: none;
  border: none;
  border-radius: 5px;
}
.modale__section form .btn__form {
  width: 50%;
  margin: 30px auto;
  transition: all 250ms ease-in-out;
}
.modale__section form .btn__form:hover {
  width: 53%;
  font-size: 0.95rem;
  color: #FFF;
  background-color: #3498db;
}
.modale__section .dots {
  position: absolute;
  display: flex;
  bottom: 40px;
}
.modale__section .dot {
  margin-inline: 5px;
  width: 13px;
  height: 13px;
  border: 2px solid #FFF;
  border-radius: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}
.modale__section .dot__selected {
  background: #FBD784;
}
.modale.modale__active {
  visibility: visible;
}
.modale.modale__active .modale__background {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}
.modale.modale__active .modale__section {
  opacity: 1;
  transition: opacity 0.4s 0.2s ease-out;
}

@media (min-width: 320px) and (max-width: 768px) {
  .modale__section {
    width: 515px;
    height: 320px;
  }
  .modale__section .injection-content p {
    font-size: 0.95rem;
  }
  .modale__section .injection-content input {
    height: 15px;
    margin-bottom: 0;
  }
  .modale__section .injection-content .btn__form {
    padding: 10px;
  }
  .modale__section .dots {
    bottom: 20px;
  }
}
@media (min-width: 320px) and (max-width: 550px) {
  .modale__section {
    width: 300px;
    height: 330px;
  }
  .modale__section--background {
    background: linear-gradient(#3498db, #0B1D26);
  }
  .modale__section #closing-cross {
    top: 15px;
    right: 15px;
  }
  .modale__section p {
    font-size: 0.8rem;
  }
  .modale__section img {
    display: none;
  }
}/*# sourceMappingURL=modale.css.map */